:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #f2f2f2;
}

@media (min-width: 576px) {
  .album .container {
    max-width: 800px;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 1);
  }
  .album .container {
    max-width: 1000px;
  }
}

@media (min-width: 1200px) {
  .album .container {
    max-width: 3000px;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 600;
  font-size: 4rem;
  color: #ff9900;
}

.jumbotron .container {
  max-width: 42rem;
}

.debug {
  display: none;
}

/* effect */

/*.album .photo img {*/
/*  overflow: hidden;*/
/*  -webkit-transform: scale(1);*/
/*  transform: scale(1);*/
/*  -webkit-transition: .1s ease-in-out;*/
/*  transition: .1s ease-in-out;*/
/*}*/
/*.album .photo:hover img {*/
/*  -webkit-transform: scale(1.1);*/
/*  transform: scale(1.1);*/
/*}*/

.album .photo img {
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.album .photo:hover img {
  opacity: .7;
}

.album .card-body{
  padding: 0.5rem;
  background-color: #eee;
}

.character{
  height: 1em;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.lb-image {
  position: relative;
  z-index: 20;
}
